.header
{
    width: 50%;   
}   
.header h3
{
    font-size: 1.2em;
    color: var(--main-color);
    position: relative;
    padding-right: 3.3em;
}
.header h3::before

    {
        content:"";
        width:3em;
        height: 1px;
        background-color: var(--main-color);
        position: absolute;
        top:50%;
        right: 0;
   }
 .header-container
   {
       display: flex;
       justify-content: space-between;
       align-items: flex-end;
       margin-top: 3.4em;
      
   }  
.header-container h2
  {
    margin-top: .5em;
   
    line-height: 1.3em;
    font-weight: 700;
       font-size: 2.5em;
    color: var(--main-color);
  } 
  .header-container span
  {
    font-weight: 700;
  }  
.arrows
{
    display: flex;
    gap:1.6em
}
.arrows-icon
{
    border: 1px solid #818181;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-color);
    cursor: pointer;
}
.arrows-icon:not(.arrows-icon.active)
 {
    border-color: #EBEBEB;
    color: #EBEBEB;
}
@media(max-width: 1279px)
{
  .header-container
      {
         flex-direction: column;
         gap: 1rem;
         align-items: flex-start;
     }
   .header
     {
         width: 100%;   
     }    
}